*{
    padding:0;
    margin:0;
    font-family: 'Rubik', sans-serif;
    color: sandybrown;
}

header{
    height: 100px;
    background-color: #0F2C67;
    
}
header h1{
    
    display: inline-block;
    padding: 15px 24px;
}
header h1 a{
    transition: 0.3s;
}
header h1 a:hover{
    color: tomato;
}
header ul{
    
    float: right;
    list-style: none;
    
}
header ul li{
   
    padding: 16px;
    margin-top: 10px;
    display: inline-block;
    
}
header ul li a{
    transition: 0.3s;
}
header ul li a:hover{
    color: tomato;
}

a{
    text-decoration: none;
    
}

.container{
    width: 90%;
    margin:0 auto;
}
.container ::after{
    content:'';
    display: block;
    clear: both;
}
.mobile-menu{
    float: right;
    display: none;
    padding: 10px; 
}
.mobile-menu:hover{
    cursor: pointer;
    
}

#check{
    display: none;
}
.sidebar{
    position: fixed;
    top: 100px;
    bottom: 0;
    left: -300px;
    width: 300px;
    background-color:#123986 ;
    transition: 0.5s;
    opacity: 0.8;
}
.sidebar ul li a{
    color: white; 
}

.sidebar ul li{
    padding: 24px;
    text-align:center;
    transition: 0.3s;
    transition-property: background-color;
}
.sidebar ul li:hover{
    background-color: tomato;
}

/*ketika ini di klik maka posisi left pada sidebar akan 0*/
#check:checked ~.sidebar{
    left: 0;
    top:100px;
}

.banner {
	background-color: #F4E185;
	padding:150px 0;
}
section {
	padding:50px 0;
}
.banner h2, .banner p {
	color: black;
    float: left;
    text-align:left ;
    padding-left: 50px;
    padding-top: 10px;
}
.banner h2{
    padding-top: 100px;
}
.banner img {
	width: 500px;
	border-radius: 10px;
	box-shadow: 0 3px 5px #ddd;
	margin-bottom: 10px;
    float:left;
}

@media(max-width: 768px){
    .mobile-menu{
        display: block;
    }
    header ul{
        display: none;
    }
    .banner h2{
        padding-top: 50px;
    }
    .banner img {
        width: 400px;
       padding-left: 50px;
    }
}

